  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

  *,
  ::before,
  ::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }



  body {
      text-align: center;
      font-size: 12px;
      line-height: 12px;
  }

  img {
      width: 100%;
  }

  h1 {
      font: 4.7em sans-serif;
      line-height: 1.3em;
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      text-align: left;
  }

  h2 {
      font: 4em sans-serif;
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      line-height: 1.3em;
  }

  input[type="text"] {
    width: 100%;
}

  .text-font {
      font-size: 12px;
      line-height: 12px;
  }

  .hidden {
      display: none;
  }
  .first-news-box {
    height: 875px;
    /* background-color: red; */
  }

  .first-col-sub-heading {
    font-size: 16px;
    text-align: left;
    line-height: 1.4em;
    margin-bottom: 8px;
    text-indent: 0 !important;
  }
  .image-upload-form label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
  }

  .image-upload-form {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      height: 100%;
  }

  .border {
      border: 1px solid #f1f1f1;
  }

  .text-left {
      text-align: left;
  }

  .indent {
      text-indent: 20px;
  }

  .col-sp-2 {
      grid-column: span 2;
  }

  #print {
      width: 870px;

  }

  #print-input {
      width: 870px;

  }

  .grid {
      display: grid;
  }

  .grid-gap {
      display: grid;
      gap: 10px;
  }

  .col-6 {
      grid-template-columns: repeat(6, 1fr);
  }

  .col-4 {
      grid-template-columns: repeat(4, 1fr);
  }

  .col-3 {
      grid-template-columns: repeat(3, 1fr);
  }

  .col-2 {
      grid-template-columns: repeat(2, 1fr);
  }

  .gap {
      gap: 10px;
  }

  .mt-1 {
      margin-top: 5px;
  }

  .text-justify {
      text-align: justify;
  }


  .header {
      border-bottom: 10px solid red;
      margin-bottom: 6px;
  }

  /* first news box */
  .first-news-box {
      grid-column: 1 / span 4;
      text-align: justify;
  }

  .row.first>div {
      display: flex;
      gap: 10px;
  }

  .content p {
      margin-bottom: 5px;
      text-indent: 15px;
  }

  .row.first .image-half {
      width: calc(50% - 3px);
      height: 185px;
      overflow: hidden;
  }


  .image-half-input {
      background: #f1f1f1;
      width: 50%;
      height: 128px;
  }


  .row.second {
      margin-top: 6px;
  }

  .row.second>div {
      display: flex;
      gap: 10px;
  }

  .row.second .date-data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 13px;
      margin-bottom: 5px;
      color: black;
  }

  .row.second .date-data input {
      font-size: 9px;

  }

  .row.second .first-image {
      flex-basis: 36%;
      height: 175px;
      overflow: hidden;
  }

  .row.second .second-image {
      flex-basis: 64%;
      height: 175px;
      overflow: hidden;
  }


  .row.second .first-image img {
      width: 100%;
      object-fit: cover;
  }

  .testimonial blockquote {
      margin: 0;
      background: #efefef;
      padding: 25px 15px 25px;
      position: relative;
      border: none;
      border-radius: 8px;
      text-indent: 30px;
  }

  #secondRowSecondImageTopLeft {
      font-size: 9px;
  }

  #first-news-image img {
    height: 100%;
    object-fit: cover;
  }


  .testimonial blockquote:before {
      content: "\201C";
      position: absolute;
      font-size: 95px;
      line-height: 1;
      color: #ff0000;
      font-style: normal;
  }

  .testimonial blockquote:before {
      top: -20px;
      left: -35px;
  }


  .testimonial div {
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #efefef;
      margin: 0 0 0 60px;
  }

  .testimonial p {
      margin: 8px 0 0 0px;
      text-align: left;
      color: #000000;
  }

  .pdf-create-button {
      margin: 50px 0;
  }

  .pdf-create-button button {
      padding: 10px 20px;
      background-color: goldenrod;
      color: white;
      border: none;
      box-shadow: 2px 2px 0px 0px #000;
  }

  .pdf-create-button button:hover {
      box-shadow: 0px 0px 0px 0px #000;
      cursor: pointer;
  }

  .container-header {
      padding: 20px 0;
  }

  .input-container {
      background: #f1f1f1;
      /* display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px; */
  }

  input::-webkit-file-upload-button {
      visibility: hidden;
  }