  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

  *,
  ::before,
  ::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      text-align: center;
      font-size: 7px;
  }

  img {
      width: 100%;
  }

  h1 {
      font: 5.4em sans-serif;
      line-height: 1.1em;
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      text-align: left;
  }

  h2 {
      font: 4.4em sans-serif;
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      line-height: 1.1;
  }

  .border {
      border: 1px solid #f1f1f1;
  }

  .text-left {
      text-align: left;
  }

  .indent {
      text-indent: 10px;
  }

  .col-sp-2 {
      grid-column: span 2;
  }

  #print {
      width: 593px;

  }

  #print-input {
      width: 593px;

  }

  .grid {
      display: grid;
  }

  .grid-gap {
      display: grid;
      gap: 8px;
  }

  .col-6 {
      grid-template-columns: repeat(6, 1fr);
  }

  .col-4 {
      grid-template-columns: repeat(4, 1fr);
  }

  .col-3 {
      grid-template-columns: repeat(3, 1fr);
  }

  .col-2 {
      grid-template-columns: repeat(2, 1fr);
  }

  .gap {
      gap: 8px;
  }

  .mt-1 {
      margin-top: 5px;
  }

  .text-justify {
      text-align: justify;
  }


  .header {
      border-bottom: 6px solid red;
      margin-bottom: 6px;
  }

  /* first news box */
  .first-news-box {
      grid-column: 1 / span 4;
      text-align: justify;
  }

  .row.first>div {
      display: flex;
      gap: 6px;
  }

  .content p {
      margin-bottom: 3px;
      text-indent: 5px;
  }

  .row.first .image-half {
      width: calc(50% - 3px);
      height: 128px;
      overflow: hidden;
  }


  .image-half-input {
      background: #f1f1f1;
      height: 128px;
  }

  .row.second {
      margin-top: 6px;
  }

  .row.second>div {
      display: flex;
      gap: 6px;
  }

  .row.second .date-data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 9px;
      margin-bottom: 3px;
      color: black;
  }

  .row.second .first-image {
      flex-basis: 71.9%;
  }

  .row.second .first-image img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  .row.second .second-image img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  .testimonial blockquote {
      margin: 0;
      background: #efefef;
      padding: 15px 10px 10px;
      position: relative;
      border: none;
      border-radius: 8px;
      text-indent: 30px;
  }



  .testimonial blockquote:before {
      content: "\201C";
      position: absolute;
      font-size: 95px;
      line-height: 1;
      color: #ff0000;
      font-style: normal;
  }

  .testimonial blockquote:before {
      top: -20px;
      left: -35px;
  }


  .testimonial div {
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #efefef;
      margin: 0 0 0 60px;
  }

  .testimonial p {
      margin: 8px 0 0 0px;
      text-align: left;
      color: #000000;
  }